{% extends "FOSUserBundle::layout.html.twig" %}
{% block title%}Login{% endblock%}
{% block fos_user_content %}
{% if error %}
<br/>

<div style="color:red">{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
<br/>

<form action="{{ path("fos_user_security_check") }}" method="post" id="form_login">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
  <br/>
  <div >
    <label class="label_form" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
  </div>
  <br/>
  <div>
    <label class="label_form"  for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input  type="password" id="password" name="_password" />
  </div>
  <div id="remember_me_div">
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label class="label_form"  for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
  </div
<br/><br/>
  <div>
    <input type="submit" id="submit" class="btn" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
  </div>
<br/>
<a href="{{ path('fos_user_registration_register') }}" style="margin-left: 300px">  {{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
</form>
{% endblock fos_user_content %}
