<h1>Users list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Age</th>
            <th>Login</th>
            <th>Pwd</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('users_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nom }}</td>
            <td>{{ entity.prenom }}</td>
            <td>{{ entity.age }}</td>
            <td>{{ entity.login }}</td>
            <td>{{ entity.pwd }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('users_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

